.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #063ea0;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

  }
  
  .logo {
    height: 65px;
    width: 80px;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    gap: 20px;
    cursor:pointer;
  }
  
  
  